<h3>Challenge Level Requirements</h3>
<p>
    Challenge levels must respect
    <a
        href="https://docs.google.com/document/d/1_rtzUbfCGQY-j5AYGtnYwjcpYQ_G54jy_6sTHAcNENQ/edit?tab=t.0"
        target="_blank"
        style="color: var(--color-primary); text-decoration: underline"
        >the challenge list's guidelines</a
    >.
</p>
<h3>Submission Requirements</h3>
<p>
    Challenge levels must be verified/completed after 2026-09-01 and the player
    must be in the server while the verification/completion.
</p>
<p>The video must be a full run of the level respecting the requirements.</p>
<p>
    The video must contains the clicks, the cheat indicator enabled and be at
    least 720p 30fps.
</p>
<p>The video must also be unedited and uncut.</p>
<p>
    The video must be send in the geometry dash channel of the
    <a
        href="https://discord.gg/2Vu6kxPYvx"
        target="_blank"
        style="color: var(--color-primary); text-decoration: underline"
        >SKAY Discord server</a
    >
    and be validated by the owner/admins to be accepted.
</p>
