<h3>Submission Requirements</h3>
<p>
    Extreme Demon levels must be accepted either by the AREDL or Pointercrate.
</p>
<p>OR</p>
<p>The video must be a full run of the level respecting the requirements.</p>
<p>
    The video must contains the clicks, the cheat indicator enabled and be at
    least 720p 30fps.
</p>
<p>The video must also be unedited and uncut.</p>
<p>
    The video must be send in the geometry dash channel of the
    <a
        href="https://discord.gg/2Vu6kxPYvx"
        target="_blank"
        style="color: var(--color-primary); text-decoration: underline"
        >SKAY Discord server</a
    >
    and be validated by the owner/admins to be accepted.
</p>
